<div class="ad-elem--{{meta.type}}{{#settings.class.length}} {{settings.class}}{{/settings.class.length}}" data-id="{{meta.id}}" style="width: {{style.width}}px; height: {{style.height}}px;">
	<span class="ad-elem__bg" style="background-color: {{settings.color.rgba}};">
		<span class="ad-elem__bg__name">{{text.elem}}</span>
	</span>
</div>