<div class="href row table">
	<div class="table-cell label-cell">
		<span class="label">{{text.link}}:</span> 
	</div>
	<div class="table-cell">
		<input type="text" class="[ input-dark text ] js-update-elem-setting" placeholder="http://url.com" data-prop="url" value="">
	</div>
</div>