<div class="url row table">
	<div class="table-cell label-cell">
		<span class="label">Url:</span> 
	</div>
	<div class="table-cell">
		<input type="text" class="[ input-dark text ] js-update-obj-url" placeholder="http://url.com" data-prop="url" value="">
	</div>
</div>