.ad-elem {
	position: absolute;
	top:  0;
	left: 0;

	.ad-elem__bg {
		background-size: contain;
	}
}

.ad-elem--image {
	@extend .ad-elem;
	@include transition(width $s linear, height $s linear);
}

.ad-elem--link {
	@extend .ad-elem;

	&.theme-light {
		>.ad-elem__bg {
			background-color: rgba(0,0,0,0) !important;
			background-image: url(../images/icons/link-light.svg);
			background-size: cover;
			background-position: 50% 50%;

			.ad-elem__bg__name {
				display: none;
			}
		}
	}

	&.theme-dark {
		>.ad-elem__bg {
			background-color: rgba(0,0,0,0) !important;
			background-image: url(../images/icons/link-dark.svg);
			background-size: cover;
			background-position: 50% 50%;

			.ad-elem__bg__name {
				display: none; 
			}
		}
	}
}

.ad-elem__bg {
	position: absolute;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	pointer-events: none;
}

.ad-elem__bg__name {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	@include user-select(none);
	@include transform(translateY(-50%));
}

.ad-elem__dropzone {
	display: none;
	position: absolute;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	opacity: 0;
}

.dragover .can-drop .ad-elem__dropzone {
	display: block;
	outline: solid 5px #ff0;
}