.elem-options__handle {
	position: relative;
	float: left;
	width:  100%;
	height: 16px;
	background-color: $light-grey;
	background-image: url(../images/handle.png);
	background-position: 100% 0;
	background-repeat: no-repeat;
	cursor: move;
}

.elem-options {
	position: fixed;
	top:   0;
	right: 270px;
	width: 270px;
	max-height: 100%;
	background-color: $medium-grey;
	color: $white;
	font-size: .8rem;
	@include box-sizing(border-box);
	border: solid 1px $dark-grey;

	.options {
		display: none;
		position: relative;
		float: left;
		width: 100%;

		&.focus {
			display: block;
		}
	}

	.row {
		position: relative;
		float: left;
		width: 100%;
		text-align: right;
		@include box-sizing(border-box);
		padding: 5px;
		border-bottom: solid 1px $dark-grey;
	}

	.label-cell { width: 53px; }

	.label {
		display: inline-block;
		width: 53px;
	}

	.icon {
		display: inline-block;
		position: relative;
		width:  40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
		cursor: pointer;
	}
	
	.link-options {
		.icon {
			border: solid 3px $dark-grey;

			&.selected { border: solid 3px $focus-grey; }
		}

		.theme-light { 
			background-image: url(../images/icons/link-light.svg), url(../images/ad-window-tile.png);
			background-size: contain, 8px 8px;
			background-repeat: no-repeat, repeat;
		}
		.theme-dark { 
			background-image: url(../images/icons/link-dark.svg), url(../images/ad-window-tile.png);
			background-size: contain, 8px 8px;
			background-repeat: no-repeat, repeat;
		}
		.theme-free { 
			background-image: url(../images/icons/link-free.png), url(../images/ad-window-tile.png);
			background-size: contain, 8px 8px;
			background-repeat: no-repeat, repeat;
		}
		.theme-transparent { 
			background-image: url(../images/ad-window-tile.png); 
			background-repeat: repeat;
			background-size: 8px 8px;
		}
	}

	.align {
		.icon {
			width:  20px;
			height: 20px;
			background-image: url(../images/icons/align.png);
			background-repeat: no-repeat;
			background-size: 20px 120px;
			@include border-radius(3px);
			border: solid 1px transparent;

			&:hover {
				background-color: $light-grey;
				border: solid 1px $dark-grey;
			}

			&.align-vertical-top { background-position: 0 0; }
			&.align-vertical-middle { background-position: 0 -20px; }
			&.align-vertical-bottom { background-position: 0 -40px; }
			&.align-horizontal-left { background-position: 0 -60px; }
			&.align-horizontal-middle { background-position: 0 -80px; }
			&.align-horizontal-right { background-position: 0 -100px; }
		}
	}
}



