$s: .3s;

$white: #fff;
$black: #000;

$dark-grey:   #282828;
$medium-grey: #464646;
$light-grey:  #535353;
$ultra-light-grey: #7c7c7c;
$focus-grey: #6e7d91;

$dominant-format: #d52022;
$presence-format: #81c036;
$premium-format:  #f99100;
$others-format:   #535353;