/*------------------------------------*\
    #Layers
\*------------------------------------*/


/**
 * Extend `.sidebar {}` in _sidebar.scss.
 */
.layers {
	right: 0;
	color: $white;
	font-size: .8rem;
}

.layers__basic-opt {
	position: absolute;
	top:  0;
	left: 0;
	width:  100%;
	height: 30px;
	line-height: 30px;
	@include box-sizing(border-box);
	border: solid 1px $dark-grey;
	padding: 0 5px;
	z-index: 1;
}

.layers__lock {
	position: relative;
	float: left;
	width:  50%;
	height: 30px;

	.label {
		position: relative;
		display: inline-block;
		@include user-select(none);
	}

	.lock-icon {
		position: relative;
		display: inline-block;
		width:  20px;
		height: 22px;
		background-image:    url(../images/icons/lock-sprite.png);
		background-position: 0 0;
		background-repeat:   no-repeat;
		vertical-align: middle;
		cursor: pointer;

		&:hover { background-position: 0 -22px; }
		&.active { background-position: 0 -44px; }
	}
}

.layers__opacity {
	position: relative;
	float: right;
	width:  50%;
	height: 30px;
	text-align: right;

	.label {
		position: relative;
		display: inline-block;
		@include user-select(none);
	}
}

.layers__list {
	position: absolute;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	list-style: none;
	@include box-sizing(border-box);
	border-right: solid 1px $dark-grey;
	padding: 30px 0 0 0;
	margin: 0;
	z-index: 0;
}

.layer {
	position: relative;
	float: left;
	width:  100%;
	min-height: 40px;
	background-color: $light-grey;

	&.focus { background-color: $focus-grey; }
	&.locked {
		background-image:    url(../images/icons/lock.png);
		background-position: calc(100% - 5px) 50%;
		background-repeat:   no-repeat;
	}
}

.layer__wrapper {
	position: relative;
	float: left;
	width:  100%;
	height: 40px;
	@include box-sizing(border-box);
	border: solid 1px $dark-grey;
	cursor: pointer;
}

.layer__visibility {
	position: absolute;
	top:  0;
	left: 0;
	width:  30px;
	height: 100%;
	background-color:    $light-grey;
	background-image:    url(../images/icons/visibility-visible.png);
	background-position: 50% 50%;
	background-repeat:   no-repeat;
	background-size:     12px 12px;
	border-right: solid 1px $dark-grey;
	z-index: 1;
	cursor: pointer;
}

.layer--invisible {
	.layer__visibility {
		background-image: url(../images/icons/visibility-hidden.png);
	}
}

.layer__infos {
	position: absolute;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	@include box-sizing(border-box);
	padding: 0 0 0 30px;
	z-index: 0;
}

.layer__preview {
	position: absolute;
	top:  3px;
	left: 34px;
	width:  30px;
	height: 30px;
	background-image:  url(), url('../images/ad-window-tile.png');
	background-repeat: no-repeat, repeat;
	background-position: 0 0, 50% 50%;
	background-size:   cover, 8px 8px;
	border: solid 1px $black;
	z-index: 1;
}

.layer__name {
	position: relative;
	float: left;
	width:  100%;
	height: 100%;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	@include box-sizing(border-box);
	padding: 0 20px 0 45px;
	z-index: 0;
}

.layer > ol,
.layer__sublist {
	position: relative;
	float: right;
	width: calc(100% - 3px);
	list-style: none;
	border-left: solid 3px $dark-grey;
	margin:  0;
	padding: 0;
}