/*------------------------------------*\
    #Sidebar
\*------------------------------------*/

.sidebar {
	position: absolute;
	top: 0;
	width:  270px;
	height: 100%;
	background-color: $medium-grey;
}