@charset "UTF-8";

@import '_global';
@import '_mixins';
@import '_normalize';

@import '_fonts';
@import '_style-guide';

@import '_formats';
@import '_sidebar';
@import '_layers';
@import '_interactivities-toolbar';
@import '_app-content';
@import '_ad-window';

.disabled {
	opacity: .5;
	pointer-events: none;
	cursor: default;
}

.ad-elem {
	position: absolute;
	top:  0;
	left: 0;
	width:  70px;
	height: 70px;
}

.ad-elem--image {
	@extend .ad-elem;

	.ad-elem__bg {
		background-color: rgba(0,255,0,0.25);
	}
}

.ad-elem__bg {
	position: absolute;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	pointer-events: none;
}

.ad-elem__bg__name {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	@include user-select(none);
	@include transform(translateY(-50%));
}