<div class="ad-elem--{{meta.type}}{{#settings.class.length}} {{settings.class}}{{/settings.class.length}}" data-id="{{meta.id}}" 
style="
	{{#style.width}}width: {{style.width}}px;{{/style.width}}
	{{#style.height}} height: {{style.height}}px;{{/style.height}} 
	{{#style.backgroundImage}} background-image: {{style.backgroundImage}};{{/style.backgroundImage}}
">
	<span class="ad-elem__bg__name">{{text.elem}}</span>
</div>