<div 
	class="elem-{{meta.type}}{{#elem.class}} {{elem.class}}{{/elem.class}}"
	data-id="{{meta.id}}"
	style="
		{{#style.display}}display: {{style.display}};{{/style.display}}
		{{#style.width}}width: {{style.width}}px;{{/style.width}}
		{{#style.height}}height: {{style.height}}px;{{/style.height}} 
		{{#style.backgroundColor}}background-color: {{style.backgroundColor}};{{/style.backgroundColor}}
		{{#style.backgroundImage}}background-image: {{style.backgroundImage}};{{/style.backgroundImage}}
		{{#style.fontSize}}font-size: {{style.fontSize}}px;{{/style.fontSize}}
		{{#style.lineHeight}}line-height: {{style.lineHeight}}px;{{/style.lineHeight}}
		{{#style.borderRadius}}border-radius: {{style.borderRadius}}px;{{/style.borderRadius}}
		{{#style.margin}}margin: {{style.margin}}px;{{/style.margin}}
		{{#style.padding}}padding: {{style.padding}}px;{{/style.padding}}
		{{#style.zIndex}}z-index: {{style.zIndex}};{{/style.zIndex}}
">
	<span class="elem__name">{{text.elem}}</span>
	{{#settings.container}}
	<div class="{{settings.container}}"></div>
	{{/settings.container}}
</div>