<div class="pager" style="height: {{height}}px; background: rgba(0,0,0,.75); padding: {{padding}}px; border-radius: {{radius}}px;">
	{{#bullets}}<span style="background-color: {{color}};"></span>{{/bullets}}
</div>