/*------------------------------------*\
    #Normalize
\*------------------------------------*/
* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

iframe::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Rubrik_ExtraLight';
  src: url("../fonts/rubrik/Rubrik_ExtraLight.eot");
  src: url("../fonts/rubrik/Rubrik_ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/rubrik/Rubrik_ExtraLight.woff") format("woff"), url("../fonts/rubrik/Rubrik_ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubrik_Medium';
  src: url("../fonts/rubrik/Rubrik_Light.eot");
  src: url("../fonts/rubrik/Rubrik_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/rubrik/Rubrik_Light.woff") format("woff"), url("../fonts/rubrik/Rubrik_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verlag_Book';
  src: url("../fonts/verlag/Verlag_Book.eot");
  src: url("../fonts/verlag/Verlag_Book.eot?#iefix") format("embedded-opentype"), url("../fonts/verlag/Verlag_Book.woff") format("woff"), url("../fonts/verlag/Verlag_Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
colpick Color Picker / colpick.com
*/
/*Main container*/
.colpick {
  position: absolute;
  width: 346px;
  height: 170px;
  overflow: hidden;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  background: #ebebeb;
  border: 1px solid #bbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*Prevents selecting text when dragging the selectors*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*Color selection box with gradients*/
.colpick_color {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 156px;
  height: 156px;
  overflow: hidden;
  outline: 1px solid #aaa;
  cursor: crosshair;
}

.colpick_color_overlay1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 156px;
  height: 156px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')";
  /* IE8 */
  background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff');
  /* IE6 & IE7 */
}

.colpick_color_overlay2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 156px;
  height: 156px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')";
  /* IE8 */
  background: -moz-linear-gradient(top, transparent 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

/*Circular color selector*/
.colpick_selector_outer {
  background: none;
  position: absolute;
  width: 11px;
  height: 11px;
  margin: -6px 0 0 -6px;
  border: 1px solid black;
  border-radius: 50%;
}

.colpick_selector_inner {
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
}

/*Vertical hue bar*/
.colpick_hue {
  position: absolute;
  top: 6px;
  left: 175px;
  width: 19px;
  height: 156px;
  border: 1px solid #aaa;
  cursor: n-resize;
}

/*Hue bar sliding indicator*/
.colpick_hue_arrs {
  position: absolute;
  left: -8px;
  width: 35px;
  height: 7px;
  margin: -7px 0 0 0;
}

.colpick_hue_larr {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #858585;
}

.colpick_hue_rarr {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 7px solid #858585;
}

/*New color box*/
.colpick_new_color {
  position: absolute;
  left: 207px;
  top: 6px;
  width: 60px;
  height: 27px;
  background: #f00;
  border: 1px solid #8f8f8f;
}

/*Current color box*/
.colpick_current_color {
  position: absolute;
  left: 277px;
  top: 6px;
  width: 60px;
  height: 27px;
  background: #f00;
  border: 1px solid #8f8f8f;
}

/*Input field containers*/
.colpick_field, .colpick_hex_field {
  position: absolute;
  height: 20px;
  width: 60px;
  overflow: hidden;
  background: #f3f3f3;
  color: #b8b8b8;
  font-size: 12px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.colpick_rgb_r {
  top: 40px;
  left: 207px;
}

.colpick_rgb_g {
  top: 67px;
  left: 207px;
}

.colpick_rgb_b {
  top: 94px;
  left: 207px;
}

.colpick_hsb_h {
  top: 40px;
  left: 277px;
}

.colpick_hsb_s {
  top: 67px;
  left: 277px;
}

.colpick_hsb_b {
  top: 94px;
  left: 277px;
}

.colpick_hex_field {
  width: 68px;
  left: 207px;
  top: 121px;
}

/*Text field container on focus*/
.colpick_focus {
  border-color: #999;
}

/*Field label container*/
.colpick_field_letter {
  position: absolute;
  width: 12px;
  height: 20px;
  line-height: 20px;
  padding-left: 4px;
  background: #efefef;
  border-right: 1px solid #bdbdbd;
  font-weight: bold;
  color: #777;
}

/*Text inputs*/
.colpick_field input, .colpick_hex_field input {
  position: absolute;
  right: 11px;
  margin: 0;
  padding: 0;
  height: 20px;
  line-height: 20px;
  background: transparent;
  border: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  text-align: right;
  outline: none;
}

.colpick_hex_field input {
  right: 4px;
}

/*Field up/down arrows*/
.colpick_field_arrs {
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 21px;
  cursor: n-resize;
}

.colpick_field_uarr {
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #959595;
}

.colpick_field_darr {
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #959595;
}

/*Submit/Select button*/
.colpick_submit {
  position: absolute;
  left: 207px;
  top: 149px;
  width: 130px;
  height: 22px;
  line-height: 22px;
  background: #efefef;
  text-align: center;
  color: #555;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.colpick_submit:hover {
  background: #f3f3f3;
  border-color: #999;
  cursor: pointer;
}

/*full layout with no submit button*/
.colpick_full_ns .colpick_submit, .colpick_full_ns .colpick_current_color {
  display: none;
}

.colpick_full_ns .colpick_new_color {
  width: 130px;
  height: 25px;
}

.colpick_full_ns .colpick_rgb_r, .colpick_full_ns .colpick_hsb_h {
  top: 42px;
}

.colpick_full_ns .colpick_rgb_g, .colpick_full_ns .colpick_hsb_s {
  top: 73px;
}

.colpick_full_ns .colpick_rgb_b, .colpick_full_ns .colpick_hsb_b {
  top: 104px;
}

.colpick_full_ns .colpick_hex_field {
  top: 135px;
}

/*rgbhex layout*/
.colpick_rgbhex .colpick_hsb_h, .colpick_rgbhex .colpick_hsb_s, .colpick_rgbhex .colpick_hsb_b {
  display: none;
}

.colpick_rgbhex {
  width: 282px;
}

.colpick_rgbhex .colpick_field, .colpick_rgbhex .colpick_submit {
  width: 68px;
}

.colpick_rgbhex .colpick_new_color {
  width: 34px;
  border-right: none;
}

.colpick_rgbhex .colpick_current_color {
  width: 34px;
  left: 240px;
  border-left: none;
}

/*rgbhex layout, no submit button*/
.colpick_rgbhex_ns .colpick_submit, .colpick_rgbhex_ns .colpick_current_color {
  display: none;
}

.colpick_rgbhex_ns .colpick_new_color {
  width: 68px;
  border: 1px solid #8f8f8f;
}

.colpick_rgbhex_ns .colpick_rgb_r {
  top: 42px;
}

.colpick_rgbhex_ns .colpick_rgb_g {
  top: 73px;
}

.colpick_rgbhex_ns .colpick_rgb_b {
  top: 104px;
}

.colpick_rgbhex_ns .colpick_hex_field {
  top: 135px;
}

/*hex layout*/
.colpick_hex .colpick_hsb_h, .colpick_hex .colpick_hsb_s, .colpick_hex .colpick_hsb_b, .colpick_hex .colpick_rgb_r, .colpick_hex .colpick_rgb_g, .colpick_hex .colpick_rgb_b {
  display: none;
}

.colpick_hex {
  width: 206px;
  height: 201px;
}

.colpick_hex .colpick_hex_field {
  width: 72px;
  height: 25px;
  top: 168px;
  left: 80px;
}

.colpick_hex .colpick_hex_field div, .colpick_hex .colpick_hex_field input {
  height: 25px;
  line-height: 25px;
}

.colpick_hex .colpick_new_color {
  left: 9px;
  top: 168px;
  width: 30px;
  border-right: none;
}

.colpick_hex .colpick_current_color {
  left: 39px;
  top: 168px;
  width: 30px;
  border-left: none;
}

.colpick_hex .colpick_submit {
  left: 164px;
  top: 168px;
  width: 30px;
  height: 25px;
  line-height: 25px;
}

/*hex layout, no submit button*/
.colpick_hex_ns .colpick_submit, .colpick_hex_ns .colpick_current_color {
  display: none;
}

.colpick_hex_ns .colpick_hex_field {
  width: 80px;
}

.colpick_hex_ns .colpick_new_color {
  width: 60px;
  border: 1px solid #8f8f8f;
}

/*Dark color scheme*/
.colpick_dark {
  background: #161616;
  border-color: #2a2a2a;
}

.colpick_dark .colpick_color {
  outline-color: #333;
}

.colpick_dark .colpick_hue {
  border-color: #555;
}

.colpick_dark .colpick_field, .colpick_dark .colpick_hex_field {
  background: #101010;
  border-color: #2d2d2d;
}

.colpick_dark .colpick_field_letter {
  background: #131313;
  border-color: #2d2d2d;
  color: #696969;
}

.colpick_dark .colpick_field input, .colpick_dark .colpick_hex_field input {
  color: #7a7a7a;
}

.colpick_dark .colpick_field_uarr {
  border-bottom-color: #696969;
}

.colpick_dark .colpick_field_darr {
  border-top-color: #696969;
}

.colpick_dark .colpick_focus {
  border-color: #444;
}

.colpick_dark .colpick_submit {
  background: #131313;
  border-color: #2d2d2d;
  color: #7a7a7a;
}

.colpick_dark .colpick_submit:hover {
  background-color: #101010;
  border-color: #444;
}

/*------------------------------------*\
    #Style guide
\*------------------------------------*/
::-webkit-scrollbar {
  width: 16px;
  background-color: #464646;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  background-clip: content-box;
  border-radius: 8px;
  border: 4px solid transparent;
}

::-webkit-scrollbar-corner {
  background-color: #535353;
}

html {
  background-color: #282828;
  font-family: Verlag_Book;
  font-size: 16px;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  text-align: center;
}

.disabled,
input:read-only {
  opacity: .5;
  pointer-events: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.label {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input.text {
  width: 193px;
}
input.pixel, input.percent {
  width: 45px;
  background-position: 50px 70%;
  background-repeat: no-repeat;
  text-align: right;
  padding-right: 20px;
}

.input-dark {
  background-color: #282828;
  border: none;
  color: white;
  padding: 2px;
  outline: none;
  vertical-align: middle;
}
.input-dark.percent {
  background-image: url(../images/input-percent.png);
}
.input-dark.percent:focus {
  background-image: url(../images/input-percent-white.png);
}
.input-dark.pixel {
  background-image: url(../images/input-pixel.png);
}
.input-dark.pixel:focus {
  background-image: url(../images/input-pixel-white.png);
}
.input-dark:focus {
  background-color: white;
  color: black;
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.btn {
  display: inline-block;
  position: relative;
  min-width: 100px;
  background-color: #7c7c7c;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: .25rem .5rem;
  border: solid 1px transparent;
  cursor: pointer;
}
.btn:hover {
  border: solid 1px #282828;
}
.btn.action {
  background-color: #6e7d91;
}

.dragover .can-drop {
  outline: solid 5px #6e7d91;
}

/*------------------------------------*\
    #Formats
\*------------------------------------*/
.formats {
  position: relative;
  top: 50%;
  width: 390px;
  height: 390px;
  margin: 0 auto;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.format {
  float: left;
  position: relative;
  width: 120px;
  height: 90px;
  background-color: #535353;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  padding: 15px 0;
}

.format__media, .format__media--dominant, .format__media--presence, .format__media--premium, .format__media--others {
  display: inline-block;
  position: relative;
}

.format__media--dominant {
  background-color: #d52022;
}

.format__media--presence {
  background-color: #81c036;
}

.format__media--premium {
  background-color: #f99100;
}

.format__media--others {
  background-color: #535353;
}

/*------------------------------------*\
    #Sidebar
\*------------------------------------*/
.sidebar {
  position: absolute;
  top: 0;
  width: 270px;
  height: 100%;
  background-color: #464646;
}

/*------------------------------------*\
    #Layers
\*------------------------------------*/
/**
 * Extend `.sidebar {}` in _sidebar.scss.
 */
.layers {
  right: 0;
  color: white;
  font-size: .8rem;
}

.layers__basic-opt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #282828;
  padding: 0 5px;
  z-index: 1;
}

.layers__lock {
  position: relative;
  float: left;
  width: 50%;
  height: 30px;
}
.layers__lock .label {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.layers__lock .lock-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 22px;
  background-image: url(../images/icons/lock-sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.layers__lock .lock-icon:hover {
  background-position: 0 -22px;
}
.layers__lock .lock-icon.active {
  background-position: 0 -44px;
}

.layers__opacity {
  position: relative;
  float: right;
  width: 50%;
  height: 30px;
  text-align: right;
}
.layers__opacity .label {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.layers__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #282828;
  padding: 0;
  margin: 30px 0 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 0;
}

.layer {
  position: relative;
  float: left;
  width: 100%;
  min-height: 40px;
  background-color: #535353;
}
.layer.focus {
  background-color: #6e7d91;
}
.layer.locked {
  background-image: url(../images/icons/lock.png);
  background-position: calc(100% - 5px) 15px;
  background-repeat: no-repeat;
}
.layer.locked-parent {
  background-image: url(../images/icons/lock-parent.png);
  background-position: calc(100% - 5px) 15px;
  background-repeat: no-repeat;
}
.layer > ol {
  position: relative;
  float: right;
  width: calc(100% - 3px);
  background-color: white;
  list-style: none;
  border-left: solid 3px #282828;
  margin: 0;
  padding: 0;
}
.layer.no-children > ol {
  display: none;
}

.layer__placeholder {
  position: relative;
  float: left;
  width: 100%;
  height: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px white;
}

.layer__wrapper {
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #282828;
  cursor: pointer;
}

.layer__visibility {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #535353;
  background-image: url(../images/icons/visibility-visible.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  border-right: solid 1px #282828;
  z-index: 1;
  cursor: pointer;
}

.layer--invisible > .layer__wrapper .layer__visibility {
  background-image: url(../images/icons/visibility-hidden.png);
}

.layer__infos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 30px;
  z-index: 0;
}

.layer__preview {
  position: absolute;
  top: 3px;
  left: 34px;
  width: 30px;
  height: 30px;
  background-image: url(), url("../images/ad-window-tile.png");
  background-repeat: no-repeat, repeat;
  background-position: 50% 50%, 50% 50%;
  background-size: cover, 8px 8px;
  border: solid 1px black;
  z-index: 1;
}

.layer__name {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 0 45px;
  z-index: 0;
}

.layers__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #282828;
  padding: 0 20px;
  z-index: 1;
}
.layers__footer .icon, .layers__footer .interactivities-toolbar .icon--image, .interactivities-toolbar .layers__footer .icon--image, .layers__footer .interactivities-toolbar .icon--link, .interactivities-toolbar .layers__footer .icon--link, .layers__footer .interactivities-toolbar .icon--gallery, .interactivities-toolbar .layers__footer .icon--gallery {
  position: relative;
  float: right;
  width: 25px;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -9999px;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
  cursor: pointer;
}
.layers__footer .icon:hover, .layers__footer .interactivities-toolbar .icon--image:hover, .interactivities-toolbar .layers__footer .icon--image:hover, .layers__footer .interactivities-toolbar .icon--link:hover, .interactivities-toolbar .layers__footer .icon--link:hover, .layers__footer .interactivities-toolbar .icon--gallery:hover, .interactivities-toolbar .layers__footer .icon--gallery:hover {
  background-color: #535353;
  border-left: solid 1px #282828;
  border-right: solid 1px #282828;
}
.layers__footer .icon.trash, .layers__footer .interactivities-toolbar .trash.icon--image, .interactivities-toolbar .layers__footer .trash.icon--image, .layers__footer .interactivities-toolbar .trash.icon--link, .interactivities-toolbar .layers__footer .trash.icon--link, .layers__footer .interactivities-toolbar .trash.icon--gallery, .interactivities-toolbar .layers__footer .trash.icon--gallery {
  background-image: url(../images/icons/trash.png);
}

/*------------------------------------*\
    #Interactivities toolbar
\*------------------------------------*/
.interactivities-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #464646;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
}
.interactivities-toolbar .icon, .interactivities-toolbar .icon--image, .interactivities-toolbar .icon--link, .interactivities-toolbar .icon--gallery {
  position: relative;
  float: left;
  width: 34px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -9999px;
  margin: 0 2px;
  border: solid 1px #464646;
  cursor: pointer;
}
.interactivities-toolbar .icon:hover, .interactivities-toolbar .icon--image:hover, .interactivities-toolbar .icon--link:hover, .interactivities-toolbar .icon--gallery:hover {
  background-color: #535353;
  border: solid 1px #282828;
}
.interactivities-toolbar .icon--image {
  background-image: url(../images/icons/toolbar/image.png);
}
.interactivities-toolbar .icon--link {
  background-image: url(../images/icons/toolbar/link.png);
}
.interactivities-toolbar .icon--gallery {
  background-image: url(../images/icons/toolbar/gallery.png);
}
.interactivities-toolbar .colors {
  position: relative;
  float: left;
  width: 100%;
  height: 50px;
}
.interactivities-toolbar .colors .flip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 22px;
  background-image: url(../images/icons/toolbar/colors-flip.png);
  background-position: 50% 25%;
  background-repeat: no-repeat;
}
.interactivities-toolbar .input-color {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  outline: solid 1px #282828;
}
.interactivities-toolbar .input-color.no1 {
  background-color: white;
}
.interactivities-toolbar .input-color.no2 {
  background-color: black;
}
.interactivities-toolbar .input-color.front {
  left: 6px;
  bottom: 11px;
  z-index: 1;
}
.interactivities-toolbar .input-color.back {
  left: 16px;
  bottom: 0;
  z-index: 0;
}

/*------------------------------------*\
    #App Content
\*------------------------------------*/
.app-content {
  position: absolute;
  top: 0;
  left: 40px;
  width: calc(100% - 270px - 40px);
  height: 100%;
  overflow: auto;
}

/*------------------------------------*\
    #Ad Window
\*------------------------------------*/
.ad-window {
  position: relative;
  top: 50%;
  background-color: #282828;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  padding: 16px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ad-window.focus {
  -webkit-box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 0.5);
}

.format-980x670 .ad-window {
  width: 980px;
  height: 670px;
}

.format-480x670 .ad-window {
  width: 480px;
  height: 670px;
}

.format-480x325 .ad-window {
  width: 480px;
  height: 325px;
}

.format-230x670 .ad-window {
  width: 230px;
  height: 670px;
}

.format-480x210 .ad-window {
  width: 480px;
  height: 210px;
}

.format-480x152 .ad-window {
  width: 480px;
  height: 152px;
}

.format-230x325 .ad-window {
  width: 230px;
  height: 325px;
}

.format-980x70 .ad-window {
  width: 230px;
  height: 325px;
}

.format-700x450 .ad-window {
  width: 230px;
  height: 325px;
}

.ad-window__ruler--horizontal {
  position: absolute;
  top: 0;
  left: 16px;
  width: calc(100% - 32px);
  height: 16px;
  background-image: url(../images/ruler-horizontal.png);
  background-repeat: repeat-x;
}

.ad-window__ruler--vertical {
  position: absolute;
  top: 16px;
  left: 0;
  width: 16px;
  height: calc(100% - 32px);
  background-image: url(../images/ruler-vertical.png);
  background-repeat: repeat-y;
}

.ad-window__ruler__corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url(../images/ruler-corner.png) 50% 50% no-repeat;
}

.ad-window__content {
  position: absolute;
  top: 16px;
  left: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  background-image: url(../images/ad-window-tile.png);
  background-repeat: repeat;
  overflow: hidden;
}

.ad-elem, .ad-elem--image, .ad-elem--link {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.ad-elem--image .ad-elem__bg__name {
  display: none;
}
.ad-elem--image.empty {
  background-color: rgba(127, 219, 255, 0.5);
}
.ad-elem--image.empty .ad-elem__bg__name {
  display: block;
}

.ad-elem--link .ad-elem__bg__name {
  display: none;
}
.ad-elem--link.empty {
  background-color: rgba(177, 13, 201, 0.5);
}
.ad-elem--link.empty .ad-elem__bg__name {
  display: block;
}

.ad-elem__bg__name {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ad-elem__dropzone {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.dragover .can-drop .ad-elem__dropzone {
  display: block;
  outline: solid 5px #ff0;
}

.elem-options__handle {
  position: relative;
  float: left;
  width: 100%;
  height: 16px;
  background-color: #535353;
  background-image: url(../images/handle.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
  cursor: move;
}

.elem-options {
  position: fixed;
  top: 0;
  right: 270px;
  width: 270px;
  max-height: 100%;
  background-color: #464646;
  color: white;
  font-size: .8rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #282828;
}
.elem-options .options {
  display: none;
  position: relative;
  float: left;
  width: 100%;
}
.elem-options .options.focus {
  display: block;
}
.elem-options .row {
  position: relative;
  float: left;
  width: 100%;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: solid 1px #282828;
}
.elem-options .label {
  display: inline-block;
  width: 53px;
}
.elem-options .icon, .elem-options .interactivities-toolbar .icon--image, .interactivities-toolbar .elem-options .icon--image, .elem-options .interactivities-toolbar .icon--link, .interactivities-toolbar .elem-options .icon--link, .elem-options .interactivities-toolbar .icon--gallery, .interactivities-toolbar .elem-options .icon--gallery {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
}
.elem-options .link-options .icon, .elem-options .link-options .interactivities-toolbar .icon--image, .interactivities-toolbar .elem-options .link-options .icon--image, .elem-options .link-options .interactivities-toolbar .icon--link, .interactivities-toolbar .elem-options .link-options .icon--link, .elem-options .link-options .interactivities-toolbar .icon--gallery, .interactivities-toolbar .elem-options .link-options .icon--gallery {
  border: solid 3px #282828;
}
.elem-options .link-options .icon.selected, .elem-options .link-options .interactivities-toolbar .selected.icon--image, .interactivities-toolbar .elem-options .link-options .selected.icon--image, .elem-options .link-options .interactivities-toolbar .selected.icon--link, .interactivities-toolbar .elem-options .link-options .selected.icon--link, .elem-options .link-options .interactivities-toolbar .selected.icon--gallery, .interactivities-toolbar .elem-options .link-options .selected.icon--gallery {
  border: solid 3px #6e7d91;
}
.elem-options .link-options .theme-light {
  background-image: url(../images/icons/link-light.svg), url(../images/ad-window-tile.png);
  background-size: contain, 8px 8px;
  background-repeat: no-repeat, repeat;
}
.elem-options .link-options .theme-dark {
  background-image: url(../images/icons/link-dark.svg), url(../images/ad-window-tile.png);
  background-size: contain, 8px 8px;
  background-repeat: no-repeat, repeat;
}
.elem-options .link-options .theme-free {
  background-image: url(../images/icons/link-free.png), url(../images/ad-window-tile.png);
  background-size: contain, 8px 8px;
  background-repeat: no-repeat, repeat;
}
.elem-options .link-options .theme-transparent {
  background-image: url(../images/ad-window-tile.png);
  background-repeat: repeat;
  background-size: 8px 8px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.popup .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
}
.popup .window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 420px;
  height: auto;
  background-color: #464646;
  color: white;
  -webkit-box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.popup .header {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
}
.popup .content {
  position: relative;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
}
.popup .footer {
  position: relative;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1rem 1rem 1rem;
}
.popup .footer .btn {
  float: left;
}
.popup .footer .btn.action {
  float: right;
}
.popup .preview {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(), url("../images/ad-window-tile.png");
  background-repeat: no-repeat, repeat;
  background-position: 50% 50%, 50% 50%;
  background-size: cover, 8px 8px;
  border: solid 1px black;
  margin: 0 1rem 0 0;
  vertical-align: middle;
  z-index: 1;
}
