<main class="ad-window">
	<span class="ad-window__ruler--horizontal"></span>
	<span class="ad-window__ruler--vertical"></span>
	<span class="ad-window__ruler__corner"></span>
	<div class="ad-window__content"></div>
</main>