<div class="formats">
	{{#data.formats}}
	<a href="{{path.root}}?url=ad/format/{{w}}/{{h}}" class="format">
		<img src="public/images/formats/{{w}}x{{h}}.png" class="format__media--{{category}}"><br>
		{{w}} px X {{h}} px
	</a>
	{{/data.formats}}
</div>