<head>
	<meta charset="utf-8">
	<title>{{data.meta.title}}</title>
	<meta name="description" property="og:description" content="{{data.meta.description}}" />
	<meta name="author" content="Simon Arnold" />
	<meta property="og:type" content="website"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" href="{{path.images}}favicon.ico"/>
	<link rel="stylesheet" media="all" href="{{path.styles}}global.css">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>