<aside class="interactivities-toolbar">
	{{#settings.interactivities}}
	<div class="icon--{{.}} js-create-ad-elem" data-instance="{{.}}" title="{{.}}">{{.}}</div>
	{{/settings.interactivities}}
</aside>