<li class="layer" data-id="{{meta.id}}">
	<div class="layer__wrapper">
		<div class="layer__visibility js-toggle-layer-visibility" style="background-color: {{settings.color.rgba}}"></div>
		<div class="layer__infos">
			<div class="layer__preview" style="background-image: url({{settings.default.layerPreview}}), url(public/images/ad-window-tile.png);"></div>
			<div class="layer__name">{{text.layer}}</div>
		</div>
	</div>
	<ol class="layer__sublist"></ol>
</li>