<div class="layer" data-obj="{{id}}">
	<div class="layer__visibility js-toggle-layer-visibility"></div>
	<div class="layer__infos">
		<div class="layer__preview"></div>
		<div class="layer__name">{{name}}</div>
	</div>
</div>