<aside class="sidebar layers">
	<div class="layers__basic-opt">
		<div class="layers__lock disabled">
			<span class="label">{{text.lock}}:</span>
			<span class="lock-icon js-lock-elem"></span>
		</div>
		<div class="layers__opacity disabled">
			<span class="label">{{text.opacity}}:</span>
			<input type="number" min="0" max="100" value="100" class="[ input-dark percent ] js-opacity-elem">
		</div>
	</div>
	<ol class="layers__list">
	</ol>
</aside>