<div class="popup ask-erase">
	<span class="background"></span>
	<div class="window">
		<header class="header" style="background-color: {{obj.settings.color.rgba}};">
			{{obj.text.name}}
		</header>
		
		<div class="content">
			{{#obj.style.backgroundImage}}
			<div class="preview" style="background-image: url({{obj.style.backgroundImage}}), url(public/images/ad-window-tile.png);"></div>
			{{/obj.style.backgroundImage}}
			<strong>{{text.deleteLayer}} "{{obj.meta.name}}" ?</strong>
		</div>

		<footer class="footer">
			<span class="btn js-close-popup">{{text.no}}</span>
			<span class="[ btn action ] js-erase">{{text.yes}}</span>
		</footer>
	</div>
</div>