<aside class="interactivities-toolbar">
	{{#settings.interactivities}}
	<div class="icon--{{.}} js-create-ad-elem" data-type="{{.}}" title="{{.}}">{{.}}</div>
	{{/settings.interactivities}}
	
	<div class="colors">
		<div class="flip js-colors-flip"></div>
		<div class="input-color no1 front"></div>
		<div class="input-color no2 back"></div>
	</div>
</aside>